aiohttp==3.9.5
aiosignal==1.3.1
anyio==4.4.0
asyncache==0.3.1
attrs==23.2.0
cachetools==5.4.0
certifi==2024.7.4
cffi==1.16.0
click==8.1.7
cryptography==42.0.8
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
httpx-ws==0.6.0
idna==3.7
iso8601==2.1.0
kopf==1.37.2
kr8s==0.17.0
multidict==6.0.5
pycparser==2.22
python-box==7.2.0
python-json-logger==2.0.7
python-jsonpath==1.1.1
PyYAML==6.0.1
sniffio==1.3.1
typing_extensions==4.12.2
wsproto==1.2.0
yarl==1.9.4